$screen__mobile: 880px;

$font-family__main: 'Open Sans', sans-serif;

$color__main: #2196f3;
$color__page-wrapper: #f3f7fa;
$color__filter-hover: #f1fcff;
$color__title: #4a4a4a;
$color__main-background: #ffffff;
$color__box-shadow: rgba(0, 0, 0, 0.1);
$color__th: #a0b0b9;
$color__td: #4a4a4a;
$color__button--border: #dfe5ec;

$font-size__12: 12px;
$font-size__13: 13px;
$font-size__14: 14px;
$font-size__24: 24px;

$font-weight__400: 400;
$font-weight__600: 600;

$line-height__18: 18px;
$line-height__20: 20px;
$line-height__21: 21px;

$letter-spacing__05: 0.5px;
