@import '../../common-styles/variables';

.ticket {
  list-style: none;
  padding: 20px;
  cursor: url(../../assets/icons/cursor.png), pointer;
  background: $color__main-background;
  box-shadow: 0 2px 8px $color__box-shadow;
  border-radius: 5px;
  margin-bottom: 20px;
}
.header {
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  margin: 0;
  font-weight: $font-weight__600;
  font-size: $font-size__24;
  color: $color__main;
}
.company-logo {
  display: block;
}
