.ticket {
  list-style: none;
  padding: 20px;
  cursor: url(../../assets/icons/cursor.png), pointer;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
}
.header {
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: #2196f3;
}
.company-logo {
  display: block;
}
