@import '../../common-styles/variables';

.filters {
  padding: 20px 0;
  box-sizing: border-box;
  width: 232px;
  height: 252px;
  background: $color__main-background;
  box-shadow: 0 2px 8px $color__box-shadow;
  border-radius: 5px;
  @media (max-width: $screen__mobile) {
    width: 100%;
    height: auto;
  }
  &__title {
    font-weight: $font-weight__600;
    font-size: $font-size__12;
    text-transform: uppercase;
    color: $color__title;
    margin: 0 0 10px 0;
    padding-left: 20px;
  }
  &__list {
    @media (max-width: $screen__mobile) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
}
