@import '../../common-styles/variables';

.page-wrapper {
  background-color: $color__page-wrapper;
  max-width: 960px;
  min-width: 460px;
  margin: 0 auto;
  padding: 50px 0;
  font-family: $font-family__main;
}
.content-wrapper {
  gap: 20px;
  display: flex;
  margin: 0 103px;
  @media (max-width: $screen__mobile) {
    flex-direction: column;
    margin: 0 20px;
  }
}
.logo {
  display: block;
  margin: 0 auto 50px;
}
.tickets-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}
