@import '../../common-styles/variables';

.filter {
  display: flex;
  align-items: center;
  font-weight: $font-weight__400;
  font-size: $font-size__13;
  height: 40px;
  padding-left: 20px;
  margin: 0;
  &:hover {
    background-color: $color__filter-hover;
    cursor: url(../../assets/icons/cursor.png), pointer;
  }
  &__title {
    margin: 0 0 0 30px;
    padding: 10px;
    vertical-align: middle;
    color: $color__title;
  }
}
.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:before {
    content: url('../../assets/icons/checkbox_empty.png');
    display: block;
    width: 20px;
    height: 20px;
  }
  &:checked {
    &:before {
      content: url('../../assets/icons/checkbox-checked.png');
    }
  }
  &:hover {
    cursor: url(../../assets/icons/cursor.png), pointer;
  }
}
