@import '../../common-styles/variables';

.tabs {
  display: flex;
}
.button {
  text-transform: uppercase;
  height: 50px;
  font-family: $font-family__main;
  width: 50%;
  font-weight: $font-weight__600;
  font-size: $font-size__12;
  line-height: $line-height__20;
  color: $color__title;
  background: $color__main-background;
  border: 1px solid $color__button--border;
  &:hover {
    cursor: url(../../assets/icons/cursor.png), pointer;
  }
  &--active {
    color: $color__main-background;
    background-color: $color__main;
    border-color: $color__main;
  }
  &--cheap {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &--fast {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
