.table {
  margin: 20px 0 0 0;
  border-collapse: separate;
  border-spacing: 0 0;
}
.thead {
}
.th {
  letter-spacing: 0.5px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  width: 140px;
  padding: 0 20px 0 0;
  text-transform: uppercase;
  color: #a0b0b9;
}
.td {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  padding: 0 20px 0 0;
  color: #4a4a4a;
}
