@import '../../common-styles/variables';

.table {
  margin: 20px 0 0 0;
  border-collapse: separate;
  border-spacing: 0 0;
}
.thead {
}
.th {
  letter-spacing: $letter-spacing__05;
  font-weight: $font-weight__600;
  font-size: $font-size__12;
  line-height: $line-height__18;
  width: 140px;
  padding: 0 20px 0 0;
  text-transform: uppercase;
  color: $color__th;
}
.td {
  font-weight: $font-weight__600;
  font-size: $font-size__14;
  line-height: $line-height__21;
  padding: 0 20px 0 0;
  color: $color__td;
}
