@import '../../common-styles/variables';

.tickets-list {
  padding: 0;
  margin: 20px 0;
}
.loader {
  margin-top: 20px;
  &__bar {
    margin: 5px;
    height: 3px;
    background-color: $color__main;
    animation: line 3s infinite alternate linear;
  }
  &__text {
    margin: 5px;
    font-size: $font-size__14;
    text-align: center;
  }
}
.not-found-text {
  list-style: none;
  text-align: center;
  font-size: $font-size__14;
}

@keyframes line {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  49% {
    transform: scaleX(1);
    transform-origin: left;
  }

  50% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}
